extends ../layouts/default

block js
    script(src="/js/index.js")

block css
    link(href="/styles/gallery.css", rel="stylesheet")
  
block content
  .clear
  .container-fluid.content
    if galleries.length
      each gallery in galleries
        .row.row-galleries
          .col-lg-12.margin-neg-200px
            .centered
              .content-width
                h1.ta-left PHOTO GALLERY.
                .spacer-vertical &nbsp;
                h2.ta-left= gallery.name

                if gallery.heroImage.exists
                  .col-sm-4.col-md-4.gallery-image: img(src=gallery._.heroImage.limit(680,680))
                  .col-sm-8.col-md-8: .row
                    each image in gallery.images
                      .col-xs-4.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300))
                else
                  each image in gallery.images
                    .col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300))
    else
      h3.text-muted There are no image galleries yet.
