extends ../layouts/default

block js
  script.
    var serviceGroups = !{JSON.stringify(serviceGroups)},
        team = !{JSON.stringify(team)};
  script(src="/js/index.js")

block css
  link(href="/styles/index.css", rel="stylesheet")

block content
  .container-fluid.content.clear
    .row.home-row.home-row-1
      .col-lg-12.centered
          .content-width
            h1.ta-left OUR SERVICES.
            include index/our-services.jade
    .row.home-row.home-row-2
      .col-lg-12.centered
          .content-width
            a(id='team')
            h1.ta-right MEET THE TEAM.
            include index/meet-the-team.jade
    .row.home-row.home-row-3
      .col-lg-12.centered
          .content-width
            a(id='salon')
            h1.ta-left ABOUT THE SALON.
            .about!=about
            a(href='/testimonials')
              .read-testimonials-btn READ TESTIMONIALS
    .row.home-row.home-row-4
      .col-lg-12.centered
          .content-max-width
            a(id='events')
            .view-photo-gallery-wrapper
              img.img-width-100(src="/images/camera.jpg")
              .vertical-line &nbsp;
              a(href="/gallery")
                .view-photo-gallery-btn VIEW PHOTO GALLERY
            .upcoming-events-wrapper
              h1 UPCOMING EVENTS.
              .no-events-msg No events scheduled at this time. Please check back soon.