.our-services.content-max-width
  .os-header
    .os-box-sel.hidden
    each service, ix in services
      .os-box(id=service.id, ix=ix)
        .service!= service.label
          .sub!= service.sub
  .pull-left(id="serviceContent")