extends ../layouts/default

block js
    script(src="/js/testimonials.js")
    script(src="/js/non-home.js")
    script.
      var testimonials = !{JSON.stringify(testimonials)};

block css
    link(href="/styles/testimonials.css", rel="stylesheet")
  
block content
  .clear
  .container-fluid.content
    .row.row-testimonials
      .col-lg-12
        .centered.clear
          .content-width.ta-left
            a(name="top")
            h1.ta-left TESTIMONIALS.
            .testimonial-container
              each testimonial in testimonials
                .testimonial
                  .description=testimonial.description
                  .author='- ' + testimonial.author
            .spacer-vertical
            a(href="#top")
              .back-to-top Back to Top
                i.fa.fa-level-up