.our-services.content-max-width
  .os-header
    .os-box-sel.hidden
    each service, ix in serviceGroups
      .os-box(id=service.id, ix=ix)
        .os-box-content
          .service!= service.name.toUpperCase()
            .sub Room
  .os-content.pull-left
  .os-buttons.clear
    .view-pricing 
      a(href="/services") View Pricing &nbsp; &gt;
    .make-an-appointment
      a(href=links.Schedule.uri,target='_blank') Make an Appointment &nbsp; &gt;