.our-services.content-max-width
  .os-header
    .os-box-sel.hidden
    each service, ix in serviceGroups
      .os-box(id=service.id, ix=ix)
        .service!= service.name
          .sub Room
  .pull-left(id="serviceContent")