include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=980, initial-scale=1.0, user-scalable: yes")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'Salon Joa'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/styles/site.css", rel="stylesheet")
    link(href="/css/font-awesome.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet')

    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    //-[endif]

    block css
    style(type='text/css')!=dynamicCSS

    block head

  body
    #body
      .pink-bar
      
      +flash-messages(messages)

      include header.jade

      .skew-container
        .bg-blue-darker.skew-neg-slight
          .bg-blue-dark.skew-pos-slight

      .pos-relative
          block content
          include footer.jade

    script(src='/js/jquery/jquery-1.11.2.min.js')
    script(src='/js/bootstrap/bootstrap-3.4.4.min.js')

    script(src="/js/jd-lib.js")

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    block js