.footer-wrapper
  .footer
    ul.nav.navbar-nav.navbar-right
      if user
        if user.canAccessKeystone
          li: a(href='/keystone') Open Keystone
        li: a(href='/keystone/signout') Sign Out
      else
        li: a(href='/keystone/signin') Sign In