.logo-box-link
.callout
  .subcallout1 PROVIDING QUALITY BEAUTY SERVICES
  .subcallout2 IN A STYLISH AND ENJOYABLE ENVIRONMENT OF SUPERIOR GUEST SERVICE
  a(href=links.Schedule ? links.Schedule.uri : '', target='_blank')
    .schedule-an-appointment SCHEDULE AN APPOINTMENT &gt;
  .contact 303.284.9535&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;7155 E Colfax Ave. Denver, Colorado
