.navigation
  if header.showScheduleAnAppointment
    .schedule-box
        a(href=links.Schedule.uri)
          .schedule-an-appointment-fixed SCHEDULE AN APPOINTMENT &gt;
  else
    .home-spacer-box &nbsp
  .logo-box
    a(href='/')
      img.img-width-100(src='/images/logo.png')
  div(role="navigation").navbar.menu
    .menu-inside
      .container-fluid
          ul.nav.navbar-nav.navbar-left
            each link in navLinks
              li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
