#header.row
  .col-sm-1.col-xs-1  
  .col-sm-3.col-xs-10.nopadding
    include header-navigation.jade
  .col-sm-3.col-xs-1
  .col-sm-3.col-xs-1.nopadding
    include header-social.jade
  .col-sm-6.col-xs-1
