@font-face {
    font-family: exoThin;
    src: url(/fonts/Exo-Thin.otf);
}

@font-face {
    font-family: exoLight;
    src: url(/fonts/Exo-Light.otf);
}

@font-face {
    font-family: exoExtraLight;
    src: url(/fonts/Exo-ExtraLight.otf);
}

@font-face {
    font-family: exo;
    src: url(/fonts/Exo-Regular.otf);
}

@font-face {
    font-family: exoBold;
    src: url(/fonts/Exo-Bold.otf);
}

@font-face {
    font-family: exoSemiBold;
    src: url(/fonts/Exo-SemiBold.otf);
}