@import "variables";

/*========================================================*\
 * HTML / Body
\*========================================================*/
html,body
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	font-family: exoThin;
}

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	background-color: $blue-dark;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: top;
}

body {
	background: none;

	margin:0;

  .pink-bar {
    border-top: 5px solid $pink;
    left: 0px;
    right: 0px;
    height: 5px;
  }
}

/*========================================================*\
 * Header
\*========================================================*/
.page-header {
	margin:0px;

  //-------------------------------
  // Logo
  //-------------------------------
	.logo-box {
		text-align:center;
		background-color: rgba(0,0,0,0.25);
		padding: 75px 25px 50px 25px;
	}

  .home-spacer-box {
    height: 152px;
  }

  //-------------------------------
  // Navigation Column
  //-------------------------------
	.col-nav {
    @extend .no-padding;

		width: 315px;

		.navigation {
			font-weight: bold;

			.menu {
        position: relative;
        height:240px;

        .menu-inside {
          padding-top:30px;
          position:absolute;
          top:0px;
          bottom:-250px;
          left:0px;
          right:0px;
          background-color: $blue-light-alpha;
        }
			}

			.navbar {
				ul {
					padding-left:18px;

          li a:hover {
            background: none;
          }
					li a {
						@include anim(0.3s, ease-in-out);

						font-family: exoSemiBold;
						font-size: 20px;
						padding: 10px;
					}
				}

				/* make sidebar nav vertical */ 
				@media (min-width: 768px) {
					.navbar-collapse {
						padding: 0;
						max-height: none;
					}
					ul {
						float: none;
						display: block;
					}
					li {
						float: none;
						display: block;
					}
					li a {
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
			}
		}
	}

  //-------------------------------
  // Callout Column ( Home only )
  //-------------------------------
  .col-callout {
    @extend .no-padding;

    position: relative;
    width: 410px;

    .callout {
      position: absolute;
      
      color: #FFFFFF;
      font-size: 46px;
      line-height:42px;
      mix-blend-mode: dark-light;

      z-index: 100;

      .subcallout1 {
        background-color: rgba(48,55,81, 0.5);
        padding:60px 30px 30px 30px;
      }

      .subcallout2 {
        background-color: rgba(48,55,81, 0.5);
        padding: 0px 30px 30px;
        font-size: 24px;
        line-height: 22px;
      }

      .contact {
        font-size: 13px;
        text-align: center;
        font-family: exoLight;
        color: $blue-light;
        letter-spacing:1px;
      }
    }
  }

  //-------------------------------
  // Social Column (defaults)
  //-------------------------------
  .col-social {
    @extend .no-padding;
    width: 160px;

    .social {
      i {
        @include anim(0.3s, ease-in-out);
        font-size: 30px;
      }

      .share-box {
        @include anim(0.3s, ease-in-out);

        cursor: pointer;
        float: left;
        background-color: $pink;
        width: 75px;
        height: 175px;
        text-align:center;
        padding-top:35px;
      }

      .share-box:hover {
        i {
          color: #fff;
        }
      }

      .sb1 {
        margin-right:1px;
        margin-top:100px;
      }

      .sb2 {
        cursor: pointer;
        margin-top:100px;
      }
    }
  }
}

/*========================================================*\
 * Skew
\*========================================================*/
.bg-blue-darker {
  z-index: 1;
  position: relative;
  margin-top: -250px;
  padding: 1px 0;
  background-color: $blue-darker;
  height:200px;
  left: 0px;
  right: 0px;
}

.bg-blue-dark {
  z-index: 2;
  margin-top:160px;
  background-color: $blue-dark;
  min-height:200px;
}

.skew-container {
  margin-top:200px;
}

/*========================================================*\
 * Footer
\*========================================================*/
.footer {
  padding-top: 150px;
	height: 450px;
	margin: 0 auto;
	background-color: $pink;
	color: #30384f;
	font-weight: bold;

	.footer-box {
		padding-top:88px;

		.book-btn {
      font-family: exoSemiBold;
      letter-spacing:1px;
			cursor: pointer;
			border: 2px solid #fff;
			color: #fff;
			text-align: center;
			width: 140px;
			height: $btn-height;
			line-height: $btn-height;
			float: left;
      font-size:12px;
		}

		.address {
			margin-left: 5%;
			line-height: $btn-height;
			float: left;
      font-size: 14px;
			font-family: exoSemiBold;
		}

		.social {
			float: right;

			.fa {
				cursor:pointer;
				color: #fff;
				font-size: 16px;
				margin-right: 25px;
				line-height: $btn-height;
			}
		}

		.sign-in {
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
	}
}

.schedule-an-appointment {
	cursor: pointer;
	margin: 0px;
	padding: 0px 0px;
	font-family: exoSemiBold;
	text-align: center;
	font-size: 21px;
	background-color: $pink;
  height:100px;
  line-height:100px;
  color: white;
  letter-spacing:2px;
}

.schedule-an-appointment-fixed {
	@extend .schedule-an-appointment;

  -webkit-transition: font-size 0.3s, height 0.3s;
  -moz-transition: font-size 0.3s, height 0.3s;
  -o-transition: font-size 0.3s, height 0.3s;
  transition: font-size 0.3s, height 0.3s;

  font-size: 18px;
	color: white;
	height: 60px;
	line-height: 60px;
  letter-spacing:0px;
}

.content {
	position: relative;
	z-index: 3;
	color: #FFF;
	background-color: $blue-dark;
  margin-bottom: -150px;
}