html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
    margin:0;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.centre {
    margin-left:30%;
    margin-right:30%;
    min-width: 900px;
    max-width: 1200px;
    display:block;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#logo {
    height:150px;
}