html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.centre {
    margin-left:30%;
    margin-right:30%;
    min-width: 900px;
    max-width: 1200px;
    display:block;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
