// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$blue-light: #b3edfc;
$blue-light-alpha: rgba(180,237,252, 0.7);
$blue-dark: #30384f;
$blue-darker: #2b3348;

$pink: #bf5677;

$content-width: 824px;
$header-width: 910px;

$btn-height: 45px;

@mixin skew($deg) {
  -webkit-transform: skewY($deg);
  -moz-transform: skewY($deg);
  -ms-transform: skewY($deg);
  -o-transform: skewY($deg);
  transform: skewY($deg);
}

@mixin anim($sec, $trans) {
  -webkit-transition: all $sec $trans;
  -moz-transition: all $sec $trans;
  -o-transition: all $sec $trans;
  transition: all $sec $trans;
}