@import "site/variables";
@import "site/nonhomemods";

/*========================================================*\
 * Layout Overrides
\*========================================================*/
html {
  background-image: url(/images/bg-gallery.jpg);
}

/*========================================================*\
 * Galleries
\*========================================================*/
.row-galleries {
  min-height:300px;
  position:relative;
  margin-top:-130px;
  padding-bottom: 100px;
}

.gallery-image {
  @include anim(0.3s, ease-in-out);

  cursor:pointer;
  border: 2px solid white;
  width:216px;
  height:128px;
}

.gallery-image:hover {
  border: 2px solid $pink;
}

.full-screen {
  @include anim(0.3s, ease-in-out);

  display: none;
  opacity: 0.0;
  position: absolute;
  z-index: 1000;
  top: 0%;
  left: 15%;
  right: 15%;

  border: 2px solid white;

  .close-gallery {
    cursor:pointer;
    background-color: white;
    color: $pink;
    font-family: exoSemiBold;
    position:absolute;
    right:0px;
    top:0px;
    width:30px;
    height:30px;
    line-height:30px;
    text-align: center;
  }

  .image {
    width: 100%;
  }
}