html {
  background-image: url(/images/home-bg.jpg); }

.home-row h1 {
  color: #b3edfc;
  margin-bottom: 40px; }

.home-row-1 .our-services {
  display: inline-block; }
  .home-row-1 .our-services .header {
    position: relative;
    text-align: justify; }
    .home-row-1 .our-services .header .box {
      cursor: pointer;
      position: relative;
      float: left;
      width: 10%;
      min-width: 90px;
      height: 100px;
      text-align: center;
      vertical-align: top;
      padding: 5px;
      display: inline-block;
      margin: 0 4% 0 0; }
      .home-row-1 .our-services .header .box .service {
        position: absolute;
        bottom: 0px;
        text-align: left;
        font-size: 18px;
        color: #fff; }
        .home-row-1 .our-services .header .box .service .sub {
          font-size: 12px;
          color: #b3edfc; }
    .home-row-1 .our-services .header .box:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.1); }
    .home-row-1 .our-services .header .box-sel {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: absolute;
      border: 1px solid #b3edfc;
      width: 90px;
      height: 100px; }
  .home-row-1 .our-services .header:after {
    content: "";
    width: 100%;
    display: inline-block; }
  .home-row-1 .our-services .content {
    text-align: left;
    padding: 20px; }

.home-row-2 {
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  border-top: 1px solid #fff;
  background-color: #2e364c; }

.home-row-3 {
  margin-top: -100px;
  background-color: #30384f; }
