@import "site/variables";
@import "shared/navigation";
@import "shared/our-services";

html {
  background-image: url(/images/bg-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-row {
}

.home-row-1 {
  margin-bottom:80px;
  margin-top: 50px;

  .our-services {
    #serviceContent {
      text-align: left;
    }
  }
}

.home-row-2 {
  @include skew(-5deg);

  position: relative;
  z-order: 1;

  border-top: 1px solid #3b495e;
  background-color: #2e364c;
  padding-top:40px;

  margin-bottom:50px;

  > * {
    @include skew(5deg);
  }

  .meet-the-team {
    margin-bottom:100px;

    .mtt-header {
      position: relative;
      text-align: justify;

      margin-top:50px;

      .mtt-box {
        @extend .box;

        float: right;

        width: 136px;
        height: 136px;
        padding: 0px;

        .person {
          position: absolute;
          bottom: 0px;
          text-align: left;
          font-size: 12px;
          color: #fff;

          .sub {
            font-size: 12px;
            color: $blue-light;
          }
        }
      }

      .mtt-box:hover {
        @include anim(0.3s, ease-in-out);
        background-color: rgba(255,255,255, 0.1);
      }

      .mtt-box-sel {
        @extend .box-sel;

        height:136px;
        padding:0px;

        background: linear-gradient(
          rgba(180, 237, 252, 0.90), 
          rgba(180, 237, 252, 0.90)
        );

        border: none;

        mix-blend-mode: overlay;
      }
    }

    

    .mtt-hidden {
      display: none;
    }

    .mtt-header:after {
      content: "";
      width: 100%;
      display: inline-block;
    }

    .mtt-content {
      text-align: left;
      padding: 20px;
    }

    .person-content {
      text-align: left;

      .person-title {
        color: $blue-light;

        .person-name {
          font-family: exoSemiBold;
          font-size:22px;
          display: inline-block;
        }

        .person-role {
          font-size:14px;
          display: inline-block;
        }
      }

      .person-description {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.home-row-3 {
  position: relative;
  z-order: 2;
  background-color: #282f42;
  height:350px;

  background-image: url(/images/store-front.png);
  background-position: right;
  background-repeat: no-repeat;

  .about {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
  }

  .read-testimonials-btn {
    cursor: pointer;
    border: 1px solid $blue-light;
    color: $blue-light;
    text-align: center;
    width: 200px;
    height: $btn-height;
    line-height: $btn-height;
    margin-top:20px;
  }
}

.home-row-4 {
  position: relative;
  z-order: 3;
  margin-top:-10px;
  background-color: #1f2535;
  height:350px;

  .view-photo-gallery-wrapper {
    margin: 50px;
    position: relative;
    float: left;
    border-right: 1px solid #4c4b4a;
    text-align: center;

    .view-photo-gallery-btn {
      position: absolute;
      top: 75px;
      left: 20px;
      cursor: pointer;
      border: 1px solid $blue-light;
      color: $blue-light;
      text-align: center;
      width: 200px;
      height: $btn-height;
      line-height: $btn-height;
    }
  }

  .upcoming-events-wrapper {
    margin: 50px;
    float: left;
    text-align: left;
    padding-top:45px;

    h1 {
      color: #fff;
      margin-bottom:10px;
    }

    .no-events-msg {
      color: $pink;
    }
  }
  
}