@import "site/variables";
@import "shared/navigation";
@import "shared/our-services";

html {
  background-image: url(/images/bg-home.jpg);
}

.home-row {
}

.home-row-1 {
  margin-bottom:80px;
  margin-top: 90px;

  .our-services {
    #serviceContent {
      text-align: left;
    }
  }
}

.home-row-2 {
  @include skew(-5deg);

  position: relative;
  z-order: 1;

  border-top: 1px solid #3b495e;
  background-color: #2e364c;
  padding-top:40px;

  margin-bottom:50px;

  > * {
    @include skew(5deg);
  }

  .meet-the-team {
    margin-bottom:100px;

    .mtt-header {
      position: relative;
      text-align: justify;

      margin-top:50px;

      .mtt-box {
        @extend .box;

        float: right;

        width: 136px;
        height: 136px;
        padding: 0px;

        .person {
          position: absolute;
          bottom: 0px;
          text-align: left;
          font-size: 12px;
          color: #fff;

          .sub {
            font-size: 12px;
            color: $blue-light;
          }
        }
      }

      .mtt-box:hover {
        @include anim(0.3s, ease-in-out);

        background-color: rgba(180, 237, 252, 1.0);
        background-blend-mode: overlay;
      }

      .mtt-box-desel {
        background-color: #b0617a;
        background-blend-mode: overlay;
      }

      .mtt-box-sel {
        background-color: rgba(180, 237, 252, 1.0);
        background-blend-mode: overlay;
      }
    }

    .mtt-hidden {
      display: none;
    }

    .mtt-header:after {
      content: "";
      width: 100%;
      display: inline-block;
    }

    .mtt-content {
      text-align: left;
      padding: 20px;
    }

    .person-content {
      text-align: left;

      .person-title {
        color: $blue-light;

        .person-name {
          font-family: exoSemiBold;
          font-size:22px;
          display: inline-block;
        }

        .person-role {
          font-size:14px;
          display: inline-block;
        }
      }

      .person-description {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        line-height: 23px;
      }
    }
  }
}

.home-row-3 {
  padding-top:75px;
  position: relative;
  z-order: 2;
  background-color: #282f42;
  height:425px;

  background-image: url(/images/store-front.png);
  background-position: right;
  background-repeat: no-repeat;

  .about {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
    line-height: 23px;
  }

  .read-testimonials-btn {
    font-family: exoSemiBold;
    letter-spacing:1px;
    cursor: pointer;
    border: 2px solid $blue-light;
    color: $blue-light;
    text-align: center;
    width: 200px;
    height: $btn-height;
    line-height: $btn-height;
    margin-top:20px;
    font-size:12px;
  }
}

.home-row-4 {
  position: relative;
  z-order: 3;
  background-color: #1f2535;
  height:326px;

  .view-photo-gallery-wrapper {
    margin: 50px 40px 25px 0px;
    padding-right: 20px;
    position: relative;
    float: left;
    text-align: center;

    .view-photo-gallery-btn {
      font-family: exoSemiBold;
      letter-spacing:1px;
      position: absolute;
      top: 85px;
      left: 20px;
      cursor: pointer;
      border: 2px solid $blue-light;
      color: $blue-light;
      text-align: center;
      width: 200px;
      height: $btn-height;
      line-height: $btn-height;
      font-size:12px;
    }

    .vertical-line {
      position:absolute;
      right: 0px;
      top: 35px;
      height: 156px;
      width:1px;
      background-color: #4c4b4a;
    }
  }

  .upcoming-events-wrapper {
    float: left;
    text-align: left;
    padding-top:105px;

    h1 {
      font-size: 54px;
      color: #fff;
      margin-bottom:10px;
    }

    .no-events-msg {
      color: $pink;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
}