@import "site/variables";
@import "site/nonhomemods";
@import "shared/navigation";
@import "shared/our-services";

/*========================================================*\
 * Layout Overrides
\*========================================================*/
html {
  background-image: url(/images/bg-services.jpg);
}

/*========================================================*\
 * Services
\*========================================================*/
.row-services {
  position: relative;
  top:-200px;

  .os-header {
    margin-top:50px;
  }

  .service {
    .head {
      font-family: exo;
      .name {
        float:left;
        color: white;
        font-size: 28px;
      }
      .cost {
        margin-left: 10px;
        float:left;
        color: $pink;
        font-size: 28px;
      }
    }

    .description {
      clear:both;
      color: white;
      font-size: 14px;
    }
  }

  .service-content {
    margin-bottom:50px;
  }
}