.page-header .col-social .social .share-box {
  background-color: #b3edfc; }
.page-header .col-social .social .sb1 {
  margin-top: 0px; }
.page-header .col-social .social .sb2 {
  margin-top: 0px; }
.page-header .logo-box {
  padding: 30px;
  height: 240px; }

.box, .os-header .os-box {
  cursor: pointer;
  position: relative;
  float: left;
  text-align: center;
  vertical-align: top;
  display: inline-block; }

.box-sel, .os-header .os-box-sel {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  border: 1px solid #b3edfc;
  width: 90px; }

.os-header {
  position: relative;
  text-align: justify; }
  .os-header .os-box {
    height: 124px;
    width: 10%;
    margin: 0 4% 0 0;
    padding-left: 0px; }
    .os-header .os-box .os-box-content {
      position: absolute;
      left: -10px;
      right: 0px;
      top: 0px;
      bottom: 0px; }
      .os-header .os-box .os-box-content .service {
        font-family: exoLight;
        position: absolute;
        bottom: 10px;
        left: 10px;
        text-align: left;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        max-width: 70px; }
        .os-header .os-box .os-box-content .service .sub {
          font-size: 16px;
          color: #b3edfc; }
    .os-header .os-box .os-box-content:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.1); }
  .os-header .os-box-sel {
    height: 125px; }

.os-hidden {
  display: none; }

.os-header:after {
  content: "";
  width: 100%;
  display: inline-block; }

.os-content {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left; }

.os-buttons {
  float: left;
  margin-top: 40px;
  color: #bf5677;
  font-family: exo;
  font-size: 21px; }
  .os-buttons a, .os-buttons a:hover {
    color: #bf5677; }
  .os-buttons .view-pricing {
    float: left; }
  .os-buttons .make-an-appointment {
    float: left;
    margin-left: 50px; }

/*========================================================*\
 * Layout Overrides
\*========================================================*/
html {
  background-image: url(/images/bg-services.jpg); }

/*========================================================*\
 * Services
\*========================================================*/
.row-services {
  position: relative;
  margin-top: -150px;
  padding-bottom: 100px; }
  .row-services .os-header {
    margin-top: 50px; }
  .row-services .service-box {
    margin-bottom: 40px; }
    .row-services .service-box .head {
      font-family: exo; }
      .row-services .service-box .head .name {
        float: left;
        color: white;
        font-size: 28px; }
      .row-services .service-box .head .cost {
        margin-left: 10px;
        float: left;
        color: #bf5677;
        font-size: 28px; }
    .row-services .service-box .description {
      clear: both;
      color: white;
      font-size: 14px; }
  .row-services .service-content {
    margin-bottom: 50px; }
