@import "site/variables";
@import "site/nonhomemods";
@import "shared/navigation";

/*========================================================*\
 * Layout Overrides
\*========================================================*/
html {
  background-image: url(/images/bg-testimonials.jpg);
}

/*========================================================*\
 * Services
\*========================================================*/
.row-testimonials {
  position: relative;
  top:-180px;

  .testimonial {
    margin-top: 50px;

    .description {
      color: white;
      font-size: 18px;
    }
    .author {
      color: $pink;
      font-size: 12px;
    }
  }
}