@import "site/variables";
@import "site/nonhomemods";
@import "shared/navigation";

/*========================================================*\
 * Layout Overrides
\*========================================================*/
html {
  background-image: url(/images/bg-testimonials.jpg);
}

/*========================================================*\
 * Services
\*========================================================*/
.row-testimonials {
  position: relative;
  top:-120px;

  .testimonial-container {
    margin-top:120px;

    .testimonial {
      margin-top: 50px;

      .description {
        font-family: exo;
        color: white;
        font-size: 25px;
      }

      .author {
        font-family: exo;
        color: $pink;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
}