@import "site/variables";
@import "site/nonhomemods";
@import "shared/navigation";

/*========================================================*\
 * Services
\*========================================================*/
.row-testimonials {
  position: relative;
  top:-120px;

  .testimonial-container {
    margin-top:120px;

    .testimonial {
      margin-top: 50px;

      .description {
        font-family: exo;
        color: white;
        font-size: 18px;
      }

      .author {
        margin-top:10px;
        font-family: exo;
        color: $pink;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
}