.box {
  cursor: pointer;
  position:relative;
  float: left;
  
  height: 100px;
  text-align: center;
  vertical-align: top;
  padding:10px;
  display: inline-block;
}

.box-sel {
  @include anim(0.3s, ease-in-out);
  position: absolute;
  border: 1px solid $blue-light;
  width: 90px;
  height: 100px;
}